<h1>Document <%= @document.name %></h1>
<% if @document.class %>
<h2><%= @document.class %></h2>
<% end %>
<% if @document.description %>
<div>
    <h3>Description:</h3>
    <p><%= @document.description %></p>
</div>
<% end %>

<% if @document.children.length %>
<div>
    <ul>
        <li>
    </ul>
</div>
<% end %>